@{
    ViewBag.Title = "ABC";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ERROR</h1>
        <p class="lead">@ViewBag.ErrorMensaje</p>
    </section>
</main>