@{
    ViewBag.Title = "ABC";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Cesar Platon H.A.</h1>
        <p class="lead">Soy un ingeniero en sistemas que le encanta el desarrollo, jugar video juegos entre otras cosas. TEST5</p>
        <p><a href="https://www.linkedin.com/in/cesar-platon-hohlatcheff-avila-950404b6/" class="btn btn-primary btn-md">Conoce mas de mi</a></p>
        <p class="lead">HOLA MUNDO 1</p>
    </section>
</main>
